@model Projeto.Apresentacao.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Agenda Virtual - Login</title>

    <!-- Bootstrap core CSS-->
    <link href="~/Content/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="~/Content/sb-admin.css" rel="stylesheet" />
</head>

<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">

                @using (Html.BeginForm("AutenticarUsuario", "Usuario", FormMethod.Post, new { onsubmit = "ShowLoading()" }))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Login)
                                @Html.TextBoxFor(model => model.Login, new { @placeholder = "Login", @class = "form-control", autofocus = true })
                                <span class="text-danger">
                                    @Html.ValidationMessageFor(model => model.Login)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Senha)
                                @Html.PasswordFor(model => model.Senha, new { @placeholder = "Senha", @class = "form-control" })
                                <span class="text-danger">
                                    @Html.ValidationMessageFor(model => model.Senha)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                @Html.CheckBoxFor(model => model.LembrarMe, new { @class = "form-check-input" }) Lembrar-me

                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block"><i id="loading"></i> Login</button>
                    
                    <span class="text-danger">
                        @ViewBag.Mensagem
                    </span>
                }

                <div class="text-center">
                    <a class="d-block small mt-3" href='@Url.Content("~/Usuario/Registro")'>Registrar Nova Conta</a>
                    <a class="d-block small" href='@Url.Content("~/Usuario/EsqueceuSenha")'>Esqueceu a Senha?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/Scripts/vendor/fontawesome-free/all.min.js"></script>

    <script>
        $(document).ready(function () {

            $("#loading").removeClass("fa");
            $("#loading").removeClass("fa-spinner");
            $("#loading").removeClass("fa-spin");

        });

        function ShowLoading() {

            $("#loading").addClass("fa");
            $("#loading").addClass("fa-spinner");
            $("#loading").addClass("fa-spin");
        }
    </script>


</body>

</html>
